In [39]:
#Import Dependencies 

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import datetime as dt

In [88]:
csvpath = "CSV_Census_Data_2016_Restaurant_Count_by_County.csv"
restaurant_df = pd.read_csv(csvpath)
restaurant_df.head(10)

C:\Users\Boston\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,"SOURCE: 2016 County Business Patterns and 2016 Nonemployer Statistics. For information, see https://www.census.gov/programs-surveys/cbp/technical-documentation/methodology.html and https://www.census.gov/programs-surveys/nonemployer-statistics/technical-documentation/methodology.html.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016 County Business Patterns & Nonemployer St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,COMBINED TOTALS,NaN,NaN,2016 COUNTY BUSINESS PATTERNS (CBP),NaN,NaN,NaN,NaN,NaN,NaN,2016 NONEMPLOYER STATISTICS (NES),NaN,NaN,NaN
4,State FIPS,State,County FIPS,County,2012 NAICS Code,2012 NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments,"CBP Employment, including March 12th",CBP Employment Noise Flag,CBP First Quarter Payroll (in thousands),CBP First Quarter Payroll Noise Flag,CBP Annual Payroll (in thousands),CBP Annual Payroll Noise Flag,NES Establishments,NES Receipts (in thousands),NES Receipts Noise Flag,NaN
5,00,United States,-,-,00,Total,"32,570,855",23.8,76.2,"7,757,807","126,752,238",G,"1,604,399,617",G,"6,435,142,055",G,"24,813,048","1,165,668,336",G,NaN
6,00,United States,-,-,11,"Agriculture, Forestry, Fishing and Hunting","258,822",8.7,91.3,"22,594","160,411",G,"1,473,183",G,"6,598,512",G,"236,228","11,136,190",G,NaN
7,00,United States,-,-,113,Forestry and Logging,"53,601",16.3,83.7,"8,739","55,726",G,"588,805",G,"2,455,423",G,"44,862","2,602,573",G,NaN
8,00,United States,-,-,1131,Timber Tract Operations,N,N,N,480,"4,181",H,"53,775",H,"216,893",H,N,N,N,NaN
9,00,United States,-,-,1132,Forest Nurseries and Gathering of Forest Products,N,N,N,183,"1,357",G,"11,639",G,"47,568",G,N,N,N,NaN

In [89]:
nan_value = float("NaN")
restaurant_df.replace("", nan_value, inplace = False)
#cities_df.dropna(subset = ["Cloudiness"], inplace = True)
#cities_df.dropna(subset = ["Country"], inplace = True)
restaurant_df

,"SOURCE: 2016 County Business Patterns and 2016 Nonemployer Statistics. For information, see https://www.census.gov/programs-surveys/cbp/technical-documentation/methodology.html and https://www.census.gov/programs-surveys/nonemployer-statistics/technical-documentation/methodology.html.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016 County Business Patterns & Nonemployer St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,COMBINED TOTALS,NaN,NaN,2016 COUNTY BUSINESS PATTERNS (CBP),NaN,NaN,NaN,NaN,NaN,NaN,2016 NONEMPLOYER STATISTICS (NES),NaN,NaN,NaN
4,State FIPS,State,County FIPS,County,2012 NAICS Code,2012 NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments,"CBP Employment, including March 12th",CBP Employment Noise Flag,CBP First Quarter Payroll (in thousands),CBP First Quarter Payroll Noise Flag,CBP Annual Payroll (in thousands),CBP Annual Payroll Noise Flag,NES Establishments,NES Receipts (in thousands),NES Receipts Noise Flag,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822289,56,Wyoming,999,Statewide Wyoming,6216,Home Health Care Services,N,N,N,2,a,D,D,D,D,D,N,N,N,NaN
822290,56,Wyoming,999,Statewide Wyoming,6219,Other Ambulatory Health Care Services,N,N,N,1,a,D,D,D,D,D,N,N,N,NaN
822291,56,Wyoming,999,Statewide Wyoming,81,Other Services (except Public Administration),N,N,N,1,a,D,D,D,D,D,N,N,N,NaN
822292,56,Wyoming,999,Statewide Wyoming,812,Personal and Laundry Services,N,N,N,1,a,D,D,D,D,D,N,N,N,NaN
822293,56,Wyoming,999,Statewide Wyoming,8129,Other Personal Services,N,N,N,1,a,D,D,D,D,D,N,N,N,NaN

In [90]:
# Remove unecessary columns from the DataFrame and save the new DataFrame

# Only keep: "isbn", "original_publication_year", "original_title", "authors",

# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

reduced_df = restaurant_df [["Unnamed: 1", "Unnamed: 3", "Unnamed: 4","Unnamed: 5", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9"  ]]
    
#reduced_df = restaurant_df [["NaN"]]
    
reduced_df.head(20)

,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,COMBINED TOTALS,NaN,NaN,2016 COUNTY BUSINESS PATTERNS (CBP)
4,State,County,2012 NAICS Code,2012 NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
5,United States,-,00,Total,"32,570,855",23.8,76.2,"7,757,807"
6,United States,-,11,"Agriculture, Forestry, Fishing and Hunting","258,822",8.7,91.3,"22,594"
7,United States,-,113,Forestry and Logging,"53,601",16.3,83.7,"8,739"
8,United States,-,1131,Timber Tract Operations,N,N,N,480
9,United States,-,1132,Forest Nurseries and Gathering of Forest Products,N,N,N,183
10,United States,-,1133,Logging,N,N,N,"8,076"
11,United States,-,114,"Fishing, Hunting and Trapping","81,237",3.5,96.5,"2,807"
12,United States,-,1141,Fishing,"67,341",3.6,96.4,"2,449"
13,United States,-,1142,Hunting and Trapping,"13,896",2.6,97.4,358
14,United States,-,115,Support Activities for Agriculture and Forestry,"123,984",8.9,91.1,"11,048"
15,United States,-,1151,Support Activities for Crop Production,"59,560",8.1,91.9,"4,848"
16,United States,-,1152,Support Activities for Animal Production,"50,339",8.9,91.1,"4,488"
17,United States,-,1153,Support Activities for Forestry,"14,085",12.2,87.8,"1,712"
18,United States,-,21,"Mining, Quarrying, and Oil and Gas Extraction","113,821",23.9,76.1,"27,234"
19,United States,-,211,Oil and Gas Extraction,"74,204",9.9,90.1,"7,330"

In [91]:
# Drop all rows with missing information
reduced_df = reduced_df.dropna(how='any')
reduced_df.head(20)

,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
4,State,County,2012 NAICS Code,2012 NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
5,United States,-,00,Total,"32,570,855",23.8,76.2,"7,757,807"
6,United States,-,11,"Agriculture, Forestry, Fishing and Hunting","258,822",8.7,91.3,"22,594"
7,United States,-,113,Forestry and Logging,"53,601",16.3,83.7,"8,739"
8,United States,-,1131,Timber Tract Operations,N,N,N,480
9,United States,-,1132,Forest Nurseries and Gathering of Forest Products,N,N,N,183
10,United States,-,1133,Logging,N,N,N,"8,076"
11,United States,-,114,"Fishing, Hunting and Trapping","81,237",3.5,96.5,"2,807"
12,United States,-,1141,Fishing,"67,341",3.6,96.4,"2,449"
13,United States,-,1142,Hunting and Trapping,"13,896",2.6,97.4,358
14,United States,-,115,Support Activities for Agriculture and Forestry,"123,984",8.9,91.1,"11,048"
15,United States,-,1151,Support Activities for Crop Production,"59,560",8.1,91.9,"4,848"
16,United States,-,1152,Support Activities for Animal Production,"50,339",8.9,91.1,"4,488"
17,United States,-,1153,Support Activities for Forestry,"14,085",12.2,87.8,"1,712"
18,United States,-,21,"Mining, Quarrying, and Oil and Gas Extraction","113,821",23.9,76.1,"27,234"
19,United States,-,211,Oil and Gas Extraction,"74,204",9.9,90.1,"7,330"
20,United States,-,2111,Oil and Gas Extraction,"74,204",9.9,90.1,"7,330"
21,United States,-,212,Mining (except Oil and Gas),"11,321",54.8,45.2,"6,204"
22,United States,-,2121,Coal Mining,"1,466",54.6,45.4,800
23,United States,-,2122,Metal Ore Mining,"1,346",24.6,75.4,331

In [92]:
# Rename the headers to be more explanatory
reduced_df = reduced_df.rename(columns={
                                        "Unnamed: 1": "State",
                                        "Unnamed: 3": "County",
                                        "Unnamed: 4": "NAICS Code",
                                        "Unnamed: 5": "NAICS Description",
                                        "Unnamed: 6": "Total CBP and NES Establishments",
                                        "Unnamed: 7": "CBP Establishments Percentage",
                                        "Unnamed: 8": "NES Establishments Percentage",
                                        "Unnamed: 9": "CBP Establishments",
                        })


reduced_df.head(20)

,State,County,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
4,State,County,2012 NAICS Code,2012 NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
5,United States,-,00,Total,"32,570,855",23.8,76.2,"7,757,807"
6,United States,-,11,"Agriculture, Forestry, Fishing and Hunting","258,822",8.7,91.3,"22,594"
7,United States,-,113,Forestry and Logging,"53,601",16.3,83.7,"8,739"
8,United States,-,1131,Timber Tract Operations,N,N,N,480
9,United States,-,1132,Forest Nurseries and Gathering of Forest Products,N,N,N,183
10,United States,-,1133,Logging,N,N,N,"8,076"
11,United States,-,114,"Fishing, Hunting and Trapping","81,237",3.5,96.5,"2,807"
12,United States,-,1141,Fishing,"67,341",3.6,96.4,"2,449"
13,United States,-,1142,Hunting and Trapping,"13,896",2.6,97.4,358
14,United States,-,115,Support Activities for Agriculture and Forestry,"123,984",8.9,91.1,"11,048"
15,United States,-,1151,Support Activities for Crop Production,"59,560",8.1,91.9,"4,848"
16,United States,-,1152,Support Activities for Animal Production,"50,339",8.9,91.1,"4,488"
17,United States,-,1153,Support Activities for Forestry,"14,085",12.2,87.8,"1,712"
18,United States,-,21,"Mining, Quarrying, and Oil and Gas Extraction","113,821",23.9,76.1,"27,234"
19,United States,-,211,Oil and Gas Extraction,"74,204",9.9,90.1,"7,330"
20,United States,-,2111,Oil and Gas Extraction,"74,204",9.9,90.1,"7,330"
21,United States,-,212,Mining (except Oil and Gas),"11,321",54.8,45.2,"6,204"
22,United States,-,2121,Coal Mining,"1,466",54.6,45.4,800
23,United States,-,2122,Metal Ore Mining,"1,346",24.6,75.4,331

In [93]:
# Delete extraneous column
#reduced_df.drop(reduced_df.index[0])
#reduced_df

#reduced_df.drop(reduced_df.index[-1])
#reduced_df

#del reduced_df['']
#reduced_df.head()

#reduced_df[reduced_df.name != 'Code']

reduced_df = reduced_df.iloc[1:,]
reduced_df

,State,County,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
5,United States,-,00,Total,"32,570,855",23.8,76.2,"7,757,807"
6,United States,-,11,"Agriculture, Forestry, Fishing and Hunting","258,822",8.7,91.3,"22,594"
7,United States,-,113,Forestry and Logging,"53,601",16.3,83.7,"8,739"
8,United States,-,1131,Timber Tract Operations,N,N,N,480
9,United States,-,1132,Forest Nurseries and Gathering of Forest Products,N,N,N,183
...,...,...,...,...,...,...,...,...
822289,Wyoming,Statewide Wyoming,6216,Home Health Care Services,N,N,N,2
822290,Wyoming,Statewide Wyoming,6219,Other Ambulatory Health Care Services,N,N,N,1
822291,Wyoming,Statewide Wyoming,81,Other Services (except Public Administration),N,N,N,1
822292,Wyoming,Statewide Wyoming,812,Personal and Laundry Services,N,N,N,1
822293,Wyoming,Statewide Wyoming,8129,Other Personal Services,N,N,N,1

In [94]:
#reduced_df = reduced_df.dropna(how='any')
#reduced_df

nan_value = float("NaN")
reduced_df.replace("N", nan_value, inplace = True)
reduced_df.dropna(subset = ["Total CBP and NES Establishments"], inplace = True)
#reduced_df.dropna(subset = ["Country"], inplace = True)
reduced_df.head(5)

,State,County,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
5,United States,-,00,Total,"32,570,855",23.8,76.2,"7,757,807"
6,United States,-,11,"Agriculture, Forestry, Fishing and Hunting","258,822",8.7,91.3,"22,594"
7,United States,-,113,Forestry and Logging,"53,601",16.3,83.7,"8,739"
11,United States,-,114,"Fishing, Hunting and Trapping","81,237",3.5,96.5,"2,807"
12,United States,-,1141,Fishing,"67,341",3.6,96.4,"2,449"

In [95]:
#reduced_df.iloc[reduced_df["2012 NAICS Code"] == "7225"]
#reduced_df
#reduced_df.dtypes
#data[data["Area"] == "Ireland"]
#df.loc[df['column_name'] == some_value]

In [96]:
#reduced_df['2012 NAICS Code'] = pd.to_numeric(reduced_df['2012 NAICS Code'])
#reduced_df['NAICS Code'] = reduced_df['NAICS Code'].astype(float)
#reduced_df.dtypes

In [97]:
#is_7225 =  reduced_df['NAICS Code']==7225
#print(is_7225.head())

In [98]:
# filter rows for year 2002 using  the boolean variable
#s_7225 = reduced_df[is_7225]
#rint(reduced_df.shape)
#476175, 1)

In [99]:
reduced_df.dtypes

State                               object
County                              object
NAICS Code                          object
NAICS Description                   object
Total CBP and NES Establishments    object
CBP Establishments Percentage       object
NES Establishments Percentage       object
CBP Establishments                  object
dtype: object

In [115]:
reduced_df.head(20)

,State,County,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
382,United States,-,7225,Restaurants and Other Eating Places,"649,626",85.1,14.9,"553,102"
777,Alabama,State Total,7225,Restaurants and Other Eating Places,"8,642",83.4,16.6,"7,204"
1048,Alabama,Autauga,7225,Restaurants and Other Eating Places,100,84,16,84
1386,Alabama,Baldwin,7225,Restaurants and Other Eating Places,510,85.1,14.9,434
1630,Alabama,Barbour,7225,Restaurants and Other Eating Places,D,D,D,39
1856,Alabama,Bibb,7225,Restaurants and Other Eating Places,21,71.4,28.6,15
2129,Alabama,Blount,7225,Restaurants and Other Eating Places,63,57.1,42.9,36
2303,Alabama,Bullock,7225,Restaurants and Other Eating Places,D,D,D,5
2528,Alabama,Butler,7225,Restaurants and Other Eating Places,D,D,D,29
2841,Alabama,Calhoun,7225,Restaurants and Other Eating Places,204,88.7,11.3,181
3091,Alabama,Chambers,7225,Restaurants and Other Eating Places,55,89.1,10.9,49
3338,Alabama,Cherokee,7225,Restaurants and Other Eating Places,40,70,30,28
3603,Alabama,Chilton,7225,Restaurants and Other Eating Places,66,72.7,27.3,48
3806,Alabama,Choctaw,7225,Restaurants and Other Eating Places,20,65,35,13
4057,Alabama,Clarke,7225,Restaurants and Other Eating Places,47,89.4,10.6,42
4262,Alabama,Clay,7225,Restaurants and Other Eating Places,D,D,D,12
4457,Alabama,Cleburne,7225,Restaurants and Other Eating Places,14,50,50,7
4727,Alabama,Coffee,7225,Restaurants and Other Eating Places,102,78.4,21.6,80
5021,Alabama,Colbert,7225,Restaurants and Other Eating Places,111,82,18,91
5234,Alabama,Conecuh,7225,Restaurants and Other Eating Places,17,64.7,35.3,11

In [127]:
clean_7225_df = reduced_df[reduced_df['NAICS Code']== "7225" ]

nan_value = float("NaN")
clean_7225_df.replace("State Total", nan_value, inplace = True)
clean_7225_df.dropna(subset = ["County"], inplace = True)

#reduced_df.shape
clean_7225_df = clean_7225_df.iloc[1:,]
clean_7225_df.head()

,State,County,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
1048,Alabama,Autauga,7225,Restaurants and Other Eating Places,100,84,16,84
1386,Alabama,Baldwin,7225,Restaurants and Other Eating Places,510,85.1,14.9,434
1630,Alabama,Barbour,7225,Restaurants and Other Eating Places,D,D,D,39
1856,Alabama,Bibb,7225,Restaurants and Other Eating Places,21,71.4,28.6,15
2129,Alabama,Blount,7225,Restaurants and Other Eating Places,63,57.1,42.9,36

In [128]:
clean_7225_df["NAICS Code"].value_counts()

7225    2951
Name: NAICS Code, dtype: int64

In [129]:
clean_7225_df = clean_7225_df.iloc[1:,]
clean_7225_df

,State,County,NAICS Code,NAICS Description,Total CBP and NES Establishments,CBP Establishments Percentage,NES Establishments Percentage,CBP Establishments
1386,Alabama,Baldwin,7225,Restaurants and Other Eating Places,510,85.1,14.9,434
1630,Alabama,Barbour,7225,Restaurants and Other Eating Places,D,D,D,39
1856,Alabama,Bibb,7225,Restaurants and Other Eating Places,21,71.4,28.6,15
2129,Alabama,Blount,7225,Restaurants and Other Eating Places,63,57.1,42.9,36
2303,Alabama,Bullock,7225,Restaurants and Other Eating Places,D,D,D,5
...,...,...,...,...,...,...,...,...
821180,Wyoming,Sweetwater,7225,Restaurants and Other Eating Places,81,87.7,12.3,71
821478,Wyoming,Teton,7225,Restaurants and Other Eating Places,102,88.2,11.8,90
821743,Wyoming,Uinta,7225,Restaurants and Other Eating Places,D,D,D,38
821971,Wyoming,Washakie,7225,Restaurants and Other Eating Places,23,82.6,17.4,19
822183,Wyoming,Weston,7225,Restaurants and Other Eating Places,D,D,D,16

In [130]:
#save the file into a CSV file in the Resources Folder
clean_7225_df.to_csv("Clean_Restaurant_County_Data.csv", encoding="utf-8", index=False)